.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .rotate-img {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.home-main {
  display: flex;
}

#build {
  display: flex;
}

.boon-container-stack {
  display: flex;
  flex-direction: column;
}

.odd {
  margin-top: 52px;
  margin-left: -36px;
}
.even {
  margin-left: -36px;
}

/* #build {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  background: #ccc;
  display: flex;
  flex-direction: column;
}

#build::after {
  content: "";
  display: block;
  clear: both;
} */
